body {
  margin: 0;
  padding: 0;
  background: url('../img/img_005.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.wings-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  z-index: 1;
}


.eagle-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
  z-index: 2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.hero-title {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 1);
  color: #fff;
  padding: 15px 40px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  z-index: 3;
}

.bottom-section {
  width: 100%;
  height: 130vh;
  background: url('../img/img_009.jpg') no-repeat center center fixed;
  background-size: cover;
}
.notice-board {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  z-index: 2;
}

.page-footer {
  text-align: center;
  color: #FFD700;
  font-size: 18px;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: -340px;
}

.hero-dropdown {
  position: absolute;
  top: 83%;
  left: 20%;
  transform: translateY(-50%);
  z-index: 3;
}

.hero-dropdown .btn {
  background-color: #000;
  color: #ffa200;
  border: none;
  font-size: 18px;
}

.hero-dropdown .btn:hover {
  background-color: #333;
}

.wing-steps{
  position:absolute;
  z-index:3;
  width:260px; height:180px;
}
.wing-steps-left{  top:18%; left:23%; }
.wing-steps-right{ top:18%; right:23%; }

.wing-btn{
  position:absolute;
  display:block;
  padding:8px 16px;
  background:rgba(0,0,0,.85);
  color:#d2d2d2;
  border:1px solid #2f2f2f;
  text-decoration:none;
  font-weight:700;
  border-radius:4px;
  transition:.2s;
}

.wing-steps-left .wing-btn:nth-child(1){ top:180px;   left:160px; }
.wing-steps-left .wing-btn:nth-child(2){ top:135px;  left:120px;  }
.wing-steps-left .wing-btn:nth-child(3){ top:90px;  left:80px;  }
.wing-steps-left .wing-btn:nth-child(4){ top:45px;  left:40px;  }
.wing-steps-left .wing-btn:nth-child(5){ top:0px;  left:0px;  }

.wing-steps-right .wing-btn:nth-child(1){ top:180px;   left:0px;   }
.wing-steps-right .wing-btn:nth-child(2){ top:135px;  left:40px;  }
.wing-steps-right .wing-btn:nth-child(3){ top:90px;  left:80px;  }
.wing-steps-right .wing-btn:nth-child(4){ top:45px;  left:120px;  }
.wing-steps-right .wing-btn:nth-child(5){ top:0px;  left:160px;  }